<div class="register">
	<form ng-submit="addNewUser(user)">

	<section class="name">
		<div class="content">
		what is your name?<br>
		<input type="text" ng-model="user.name"> <br><br>
		<div class="first">
		<button type="button" class="btn btn-primary btn-lg" id="firstb">next</button>
		</div>

		</div>
	</section>

	<section class="wakeUpTime">
		<div class="content" id="second">
		hi {{ user.name }}, what time do you wake up?<br>

		<div class="select-div">
			<select name="time1">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
			</select>
		</div>
		:	
		<div class="select-div">
			<select name="minute">
				<option value="0">0</option>
				<option value="30">30</option>
			</select>
		</div>
		AM

		
		  Select a time:
		  <input type="time" ng-model="user.time">
	
		<button type="button" class="btn btn-primary btn-lg sharp" id="secondb">next</button>

		</div>

	</section>


	<section class="commuteMethod">
		<div class="content" id="third">
		How do you commute? <br>
		<span><button type="button" class="btn btn-primary btn-lg outline" ng-click="subwayClick()"> SUBWAY </button></span>

		<br><br>
		
		<span ng-show="ifSubway">Which line(s)?<br><button type="button" class="btn btn-primary btn-sm outline" ng-repeat="subway in subwayName" name="commute" ng-click="setLine()" ng-model="user.commute"> {{ subway.name }} </button></span><br><br>

		<button type="button" class="btn btn-primary btn-lg sharp" id="thirdb">next</button>
		
		</div>
	</section>

	<section class="goingHomeTime">
		<div class="content" id="fourth">
		when do you leave work? 
		<button type="button" class="btn btn-primary btn-lg sharp" id="fourthb">next</button>
		</div>
	</section>


	<section class="signUp">
		<div class="content" id="fifth">
		Almost there!
		Sign up and tell me where to send your alerts.

	<!-- <form ng-submit="addNewUser(user)"> -->
	<div class="form-group">
		(phonenumber,no dashes) <input type="text" ng-model="user.phoneNumber"><br>
		(email) <input type="email" ng-model="user.email"><br>
		(password) <input type="password" ng-model="user.password">
		</div>
		<button type="submit" class="btn btn-primary btn-lg sharp">Finish</button>	
	<!-- </form> -->
		</div>
		</form>
	</section>

</div>