.navbar {

  display: block;
  width: 100%;
  background: transparent;
  padding-top: 2%;


  a {
    color: white;
    &:hover {
      color: none;
    }
  }

  .navbar-static-top {
    background: transparent;
  }


  .nav > li > a {
    cursor: pointer;
    &.active {
      color: white;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: none;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: white;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}