
<section class="profileHome">
<subbar></subbar>
	<div class="container-fluid">
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-3">
				<h1>Sup, {{user.name}}</h1>
				<img src="http://media.giphy.com/media/N34mhGic5843C/giphy.gif">
				<label>Email: </label>
				
					{{user.email}}
			</div>
				
			<div class="col-sm-3 col-sm-offset-1">
				<h1>Your Trains</h1>
				
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Train</th>
							<th>Current Status</th>
						</tr>
					</thead>
					<tbody ng-repeat="train in userTrains ">
						<tr>
							<td>{{ train.name }}</td>
							<td>{{ train.status }}</td>
						</tr>
					</tbody>
				</table><br>
				<button class="btn-danger" ng-click="disaster()"> DISASTER</button>
				
			</div>
			
			</div>
		</div>
	
	
	
</section>



