<section class="profileHome">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<label>Email</label>
				<div>
					{{user.email}}
				</div>
				
				<label>Train Status</label>
				
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Train</th>
							<th>Current Status</th>
						</tr>
					</thead>
					<tbody ng-repeat="train in userTrains ">
						<tr>
							<td>{{ train.name }}</td>
							<td>{{ train.status }}</td>
						</tr>
					</tbody>
				</table>
				<button ng-click="sendMessage()">Send message?</button>
				<button class="btn-danger" ng-click="disaster()"> DISASTER</button>
			</div>
		</div>
	</div>
	
	
</section>

<script type="text/ng-template" id="modal.html">
        <div class="modal-header">
            <h3 class="modal-title">Service Change</h3>
        </div>
        <div class="modal-body">
            <h1>EVERYTHING IS A DISASTER AT THE MTA</h1>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()">OK, thanks.</button>
        </div>
</script>
