<section class="logIn">
<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && userLogin(login)">

    <div class="alert alert-danger" ng-show="error">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>

    
        <div class="content">

    <div class="form-group">
        Yo' email <input type="text" ng-model="login.email" id="email"><br>
        Yo' password <input type="password" ng-model="login.password" id="login-password">
        </div>
        <button type="submit" class="btn btn-primary btn-lg sharp">LOG IN</button>  

        </div>
        </form>


</form>
</section>

