<div id="home">

	<subbar></subbar>
    <subwayLogo></subwayLogo>
    
	<section class="welcomeHome">
		<h1><font color="#FEFFF1">Will You Be Delayed? Probably. </font></h1><br>

		<div class="row">
			<div class="col-sm-3 col-sm-offset-3">
		  	<div class="content status">	
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Train</th>
								<th>Current Status</th>
							</tr>
						</thead>
						<tbody ng-repeat="status in groupOne">
							<tr>
								<td>{{ status.name }}</td>
								<td>{{ status.status }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-3 col-sm-offset-1">
			  	<div class="content status">	
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Train</th>
									<th>Current Status</th>
								</tr>
							</thead>
							<tbody ng-repeat="status in groupTwo">
								<tr>
									<td>{{ status.name }}</td>
									<td>{{ status.status }}</td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
		</div>

		<div class="content message">
			hello! welcome to DELAYD, where you get text updates regarding service changes and alerts on your nyc commute!<br>
			<button type="button" ui-sref="register" class="btn btn-primary btn-lg sharp">Get Started</button>
		</div>
	</section>


</div>
