@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic&subset=latin,latin-ext);

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 28px;
}



section {
	position: relative;
	display: block;
	height: 100vh;
}

er {
	text: bold;
}

.time {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}


.welcomeHome {
	background-color: #9D7BA9;
	padding: 0;
}

.profileHome {
	background-color: #FF9677;
}

.currentStatus {
	background-color: #9D7BA9;
}

.name {
	background-color: #F8A67B;
}

.wakeUpTime {
	background-color: #8947DD;
}

.commuteMethod {
	background-color: #6BB3EA;
}

.goingHomeTime {
	background-color: #FFEF10;
}

.signUp {
	background-color: #FF6666;
}

.logIn {
	background-color: #72DFB0;
}

.content {
	padding: 20%;
	text-align:center;
}


.content.message {
	padding-top: 5%;
	padding-bottom: 0;
	font-size: 32px;
}

.content.status{
	padding: 0;
	display: table;
}


.table {
	display: inline-block;
	position: center;
	max-width: 250px !important;
	margin: 10px;
}


.table .th {
	width: auto !important;
}

table .table-hover {
	background-color: rgba(0,0,0,0.5);
}


input {
	width: 300px;
	height: 55px;
	font-weight: bold;
	background-color: rgba(0,0,0,0);
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid black;
	outline: none;
	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;
  	text-align: center;
}

.form-group {
	font-weight: none;
}

.sharp {
  border-radius:0;
}

.btn {
    padding: 12px 24px;
    margin: 5px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn.outline {
	border-radius: 0;
    background: none;
    padding: 12px 22px;
    margin: 1px;
    font-size: 16px;
}
.btn-primary.outline {
    border: 2px solid #fff;
    color: #fff;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}
