body {
	text-transform: uppercase;
}

section {
	display: block;
	height: 100vh;
}

.welcome {
	background-color: #FFEF10;
	top: 50%;
}

.name {
	background-color: #7B8DEF;
}

.wakeUpTime {
	background-color: #F46B23;
}

.commuteMethod {
	background-color: #7374AD;
}

.goingHomeTime {
	background-color: #78E7C7;
}

.signUp {
	background-color: #6364A4;
}